<section class="pager">
  <ul>
   {% if paginator.next_page %}
    <li class="previous"><a href="{{site.baseurl}}/page{{ paginator.next_page }}/" title="{{ "previous" | localize }}">{{ "previous" | localize }} &larr;</a></li>
   {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <li class="next"><a href="{{site.baseurl}}/" title="{{ "next" | localize }}">&rarr; {{ "next" | localize }}</a></li>
    {% else %}
    <li class="next"><a href="{{site.baseurl}}/page{{ paginator.previous_page }}/" title="{{ "next" | localize }}">&rarr; {{ "next" | localize }}</a></li>
    {% endif %}
  {% endif %}
  </ul>
</section>

