<section class="pager">
  <ul>
   {% if paginator.next_page %}
    <li class="previous"><a href="{{site.baseurl}}/page{{ paginator.next_page }}/" title="{% i18n previous %}">{% i18n previous %} &larr;</a></li>
   {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <li class="next"><a href="{{site.baseurl}}/" title="{% i18n next %}">&rarr; {% i18n next %}</a></li>
    {% else %}
    <li class="next"><a href="{{site.baseurl}}/page{{ paginator.previous_page }}/" title="{% i18n next %}">&rarr; {% i18n next %}</a></li>
    {% endif %}
  {% endif %}
  </ul>
</section>

