<section class="pager">
  <ul>
    {% if page.previous %}
      <li class="previous"><a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
    {% else %}
      <li class="disabled"><a>&larr; {{ "previous" | localize }}</a></li>
    {% endif %}
    {% if page.next %}
      <li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
    {% else %}
      <li class="disabled"><a>{{ "next" | localize }} &rarr;</a>
    {% endif %}
  </ul>
</section>
