---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <p class="post-meta">
    {% if page.categories != empty  %}
      {% i18n posted_in_categories %}
      {% for cat in page.categories %}
      <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>&nbsp;
      {% endfor %}
      |&nbsp;
    {% endif %}
    {% if page.tags != empty %}
      {% i18n tagged_with %}
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless page.tags.last == tag %}, {% endunless %}
      {% endfor %}
      |&nbsp;
    {% endif %}
    <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {% i18n post_date %}{{ page.date | date: "%b %-d, %Y" }}
    </time>
    {% if page.comments %}
      &nbsp;|&nbsp; <a href="#disqus_thread"> {% i18n comment %} </a>
    {% endif %}
    </p>
  </header>
  <article class="post-content" itemprop="articleBody">
    {{ content }}
  </article>
  <hr />
  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</div>
{% include post_pagination.html%}

